html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

body {
    font-family: Helvetica;
    color: seashell;
    background-color: #000;
    opacity: 0.9;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    height: 69px;
    align-items: center;
}

div.list {
    display: flex;
    justify-content: space-around;
}

.list p {
    text-decoration: underline;
    margin: 0 10px;
}

.logo-img img {
    height: 50px;
    padding-left: 10px;
}

#mission {
    height: 700px;
    background-image: url('../img/img-mission-background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}

#mission .content {
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
}

#monthly-tea {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tea-essentials {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.img-container {
    margin: 0 10px;
}

.img-container img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}

#locations {
    background-image: url('../img/img-locations-background.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.named-locations {
    display: flex;
    justify-content: center;
    height: 500px;
}

.downtown, .east-bayside, .oakdale {
    width: 300px;
    background-color: #000;
    opacity: 1;
    margin: 15px 20px;
    height: fit-content;
    line-height: 2;
}

#footer {
    margin-top: 0;
    background-color: #000;
}

#footer > h5 {
    text-align: left;
    margin-left: 20px;
}